.card-container {
    .breakpoint-small-down({
      width: -webkit-fill-available!important;
    });
}

.profile-container{
  margin-bottom: 40px;
  color: @default-color;
  h1.display-1{
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .profile-image{
    margin-right: 10px;
  }
  img{
    border-radius: 10px;
  }
  .position{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .contact-info{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: #5D5D5D!important;
    i{
      color: @default-color!important;
    }
    &:last-of-type{
      align-items: top!important;
    }
  }
  .profile-description{
    margin-top: 20px;
  }
}